[Unit]
Description=ACME Client with Certificate Sharing API
StartLimitInterval=30s
StartLimitBurst=3
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Group=www-data
User=www-data
Environment=GIN_MODE=release
ExecStart=/www/server/acme/ACME
Restart=always
RestartSec=1
PrivateTmp=true
ProtectSystem=full
PrivateDevices=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=true
LimitNOFILE=131072
LimitNOFILESoft=65535
LimitNPROC=65535
LimitNPROCSoft=65535

[Install]
WantedBy=multi-user.target
